@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MainTable
<!--Dynamically input appropriate values from each possible time slots by reference to the database-->
<tr id="highlight">
    <td>@Model.PrimaryKeyId</td>
    <td>@Model.BurialLocationNs</td>
    <td>@Model.LowPairNs</td>
    <td>@Model.BurialLocationEw</td>
    <td>@Model.LowPairEw</td>
    <td>@Model.BurialSubplot</td>
    <td>@Model.LengthOfRemains</td>
    <td>@Model.HairColor</td>
    <td>@Model.YearFound</td>
    <td>
        @if (User.IsInRole("Admin"))
        {
            <form method="get" asp-action="EditMummyRecord">
                <input type="hidden" asp-for="PrimaryKeyId" value="@Model.PrimaryKeyId" />
                @*<input type="hidden" asp-for="PrimaryKeyId" value="@Model.DateOnSkull" />
                <input type="hidden" asp-for="PrimaryKeyId" value="@Model.AgeClassification" />*@
                <button type="submit" class="btn btn-success" style="margin-bottom:3%">Edit</button>
            </form>

            <!--Button that allows the user to remove the movie record that has been requested-->
            <form method="post" asp-action="DeleteMummyRecord">
                @*<input type="hidden" asp-for="PrimaryKeyId" value="@Model.SampleId" />*@
                <input type="hidden" asp-for="PrimaryKeyId" value="@Model.PrimaryKeyId" />
                <button type="submit" class="btn btn-danger">Remove</button>
            </form>

            <form method="post" asp-action="MummyRecordDetails">
                <input type="hidden" asp-for="PrimaryKeyId" value="@Model.PrimaryKeyId" />
                <button type="submit" class="btn btn-primary" style="margin-bottom:3%">Details</button>
            </form>
        }
        else if (User.IsInRole("Researcher"))
        {
            <form method="get" asp-action="EditMummyRecord">
                <input type="hidden" asp-for="PrimaryKeyId" value="@Model.PrimaryKeyId" />
                @*<input type="hidden" asp-for="PrimaryKeyId" value="@Model.PrimaryKeyId" />
                <input type="hidden" asp-for="PrimaryKeyId" value="@Model.PrimaryKeyId" />*@
                <button type="submit" class="btn btn-success" style="margin-bottom:3%">Edit</button>
            </form>

            <form method="post" asp-action="MummyRecordDetails">
                <input type="hidden" asp-for="PrimaryKeyId" value="@Model.PrimaryKeyId" />
                <button type="submit" class="btn btn-primary" style="margin-bottom:3%">Details</button>
            </form>
        }

        else
        {
            <form method="post" asp-action="MummyRecordDetails">
                <input type="hidden" asp-for="PrimaryKeyId" value="@Model.PrimaryKeyId" />
                <button type="submit" class="btn btn-primary" style="margin-bottom:3%">Details</button>
            </form>
            <form method="get" asp-action="EditMummyRecord">
                <input type="hidden" asp-for="PrimaryKeyId" value="@Model.PrimaryKeyId" />
                @*<input type="hidden" asp-for="PrimaryKeyId" value="@Model.PrimaryKeyId" />
                <input type="hidden" asp-for="PrimaryKeyId" value="@Model.PrimaryKeyId" />*@
                <button type="submit" class="btn btn-success" style="margin-bottom:3%">Edit</button>
            </form>
        }

    </td>
</tr>