@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MainTable

<div>
    <h1>Edit Record: @Model.PrimaryKeyId</h1>
    <br />
    <p>Enter in the information you would like to add for a new mummy record below.</p>
    <br />

    <!--Page to edit the mummy record. Information is passed in from the record of what button is clicked on the view page -->
    <form asp-action="EditMummyRecordPost" method="post">

        <label asp-for="BurialId">BurialId</label>
        <input asp-for="BurialId" value="@Model.BurialId" />

        <input asp-for="PrimaryKeyId" type="hidden" value="@Model.PrimaryKeyId" />


        <p>@Model.C14Id</p>
        <p>@Model.SampleId</p>

        <label asp-for="BurialLocationNs">BurialLocationNs</label>
        <input asp-for="BurialLocationNs" value="@Model.BurialLocationNs" />

        <br />
        <label asp-for="BurialLocationEw">BurialLocationEw</label>
        <input asp-for="BurialLocationEw" value="@Model.BurialLocationEw" />
        <br />

        <label asp-for="LowPairNs">LowPairNs</label>
        <input asp-for="LowPairNs" value="@Model.LowPairNs" />
        <br />

        <label asp-for="HighPairNs">HighPairNs</label>
        <input asp-for="HighPairNs" value="@Model.HighPairNs" />
        <br />

        <label asp-for="LowPairEw">LowPairEw</label>
        <input asp-for="LowPairEw" value="@Model.LowPairEw" />
        <br />

        <label asp-for="HighPairEw">HighPairEw</label>
        <input asp-for="HighPairEw" value="@Model.HighPairEw" />

        <br />
        <label asp-for="BurialSubplot">BurialSubplot</label>
        <input asp-for="BurialSubplot" value="@Model.BurialSubplot" />
        <br />

        <label asp-for="BurialNumber">BurialNumber</label>
        <input asp-for="BurialNumber" value="@Model.BurialNumber" />
        <br />

        <label asp-for="BurialDepth">BurialDepth</label>
        <input asp-for="BurialDepth" value="@Model.BurialDepth" />
        <br />

        <label asp-for="FieldBook">Fieldbook</label>
        <input asp-for="FieldBook" value="@Model.FieldBook" />
        <br />

        <label asp-for="FieldBookPageNum">FieldBookPageNum</label>
        <input asp-for="FieldBookPageNum" value="@Model.FieldBookPageNum" />
        <br />

        <label asp-for="InitialOfDataExpert">InitialOfDataExpert</label>
        <input asp-for="InitialOfDataExpert" value="@Model.InitialOfDataExpert" />
        <br />

        <label asp-for="InitialsChecker">InitialsChecker</label>
        <input asp-for="InitialsChecker" value="@Model.InitialsChecker" />
        <br />

        <label asp-for="BodyAnalyzeYear">BodyAnalyzeYear</label>
        <input asp-for="BodyAnalyzeYear" value="@Model.BodyAnalyzeYear" />
        <br />

        <label asp-for="SouthToHead">SouthToHead</label>
        <input asp-for="SouthToHead" value="@Model.SouthToHead" />
        <br />

        <label asp-for="SouthToFeet">SouthToFeet</label>
        <input asp-for="SouthToFeet" value="@Model.SouthToFeet" />
        <br />

        <label asp-for="EastToHead">EastToHead</label>
        <input asp-for="EastToHead" value="@Model.EastToHead" />
        <br />

        <label asp-for="EastToFeet">EastToFeet</label>
        <input asp-for="EastToFeet" value="@Model.EastToFeet" />
        <br />

        <label asp-for="WestToHead">WestToHead</label>
        <input asp-for="WestToHead" value="@Model.WestToHead" />
        <br />

        <label asp-for="WestToFeet">WestToFeet</label>
        <input asp-for="WestToFeet" value="@Model.WestToFeet" />
        <br />

        <label asp-for="BurialSituation">BurialSituation</label>
        <input asp-for="BurialSituation" value="@Model.BurialSituation" />
        <br />

        <label asp-for="LengthOfRemains">LengthOfRemains</label>
        <input asp-for="LengthOfRemains" value="@Model.LengthOfRemains" />
        <br />

        <label asp-for="SampleNumber">SampleNumber</label>
        <input asp-for="SampleNumber" value="@Model.SampleNumber" />
        <br />

        <label asp-for="GeFunctionTotal">GeFunctionTotal</label>
        <input asp-for="GeFunctionTotal" value="@Model.GeFunctionTotal" />
        <br />

        <label asp-for="GenderBodyCol">GenderBodyCol</label>
        <input asp-for="GenderBodyCol" value="@Model.GenderBodyCol" />
        <br />

        <label asp-for="HowGenderDetermined">HowGenderDetermined</label>
        <input asp-for="HowGenderDetermined" value="@Model.HowGenderDetermined" />
        <br />

        <label asp-for="BasilarSuture">BasilarSuture</label>
        <input asp-for="BasilarSuture" value="@Model.BasilarSuture" />
        <br />

        <label asp-for="VentralArc">VentralArc</label>
        <input asp-for="VentralArc" value="@Model.VentralArc" />
        <br />

        <label asp-for="SubpubicAngle">SubpubicAngle</label>
        <input asp-for="SubpubicAngle" value="@Model.SubpubicAngle" />
        <br />

        <label asp-for="SciaticNotch">SciaticNotch</label>
        <input asp-for="SciaticNotch" value="@Model.SciaticNotch" />
        <br />

        <label asp-for="PubicBone">PubicBone</label>
        <input asp-for="PubicBone" value="@Model.PubicBone" />
        <br />

        <label asp-for="PreaurSulcus">PreaurSulcus</label>
        <input asp-for="PreaurSulcus" value="@Model.PreaurSulcus" />
        <br />

        <label asp-for="MedialIpRamus">MedialIpRamus</label>
        <input asp-for="MedialIpRamus" value="@Model.MedialIpRamus" />
        <br />

        <label asp-for="DorsalPitting">DorsalPitting</label>
        <input asp-for="DorsalPitting" value="@Model.DorsalPitting" />
        <br />

        <label asp-for="ForemanMagnum">ForemanMagnum</label>
        <input asp-for="ForemanMagnum" value="@Model.ForemanMagnum" />
        <br />

        <label asp-for="FemurHead">FemurHead</label>
        <input asp-for="FemurHead" value="@Model.FemurHead" />
        <br />

        <label asp-for="HumerusHead">HumerusHead</label>
        <input asp-for="HumerusHead" value="@Model.HumerusHead" />
        <br />

        <label asp-for="Osteophytosis">Osteophytosis</label>
        <input asp-for="Osteophytosis" value="@Model.Osteophytosis" />
        <br />

        <label asp-for="PubicSymphysis">PubicSymphysis</label>
        <input asp-for="PubicSymphysis" value="@Model.PubicSymphysis" />
        <br />

        <label asp-for="BoneLength">BoneLength</label>
        <input asp-for="BoneLength" value="@Model.BoneLength" />
        <br />

        <label asp-for="MedialClavicle">MedialClavicle</label>
        <input asp-for="MedialClavicle" value="@Model.MedialClavicle" />
        <br />

        <label asp-for="IliacCrest">IliacCrest</label>
        <input asp-for="IliacCrest" value="@Model.IliacCrest" />
        <br />

        <label asp-for="FemurDiameter">FemurDiameter</label>
        <input asp-for="FemurDiameter" value="@Model.FemurDiameter" />
        <br />

        <label asp-for="Humerus">Humerus</label>
        <input asp-for="Humerus" value="@Model.Humerus" />
        <br />

        <label asp-for="FemurLength">FemurLength</label>
        <input asp-for="FemurLength" value="@Model.FemurLength" />
        <br />

        <label asp-for="HumerusLength">HumerusLength</label>
        <input asp-for="HumerusLength" value="@Model.HumerusLength" />
        <br />

        <label asp-for="TibiaLength">TibiaLength</label>
        <input asp-for="TibiaLength" value="@Model.TibiaLength" />
        <br />

        <label asp-for="Robust">Robust</label>
        <input asp-for="Robust" value="@Model.Robust" />
        <br />

        <label asp-for="SupraorbitalRidges">SupraorbitalRidges</label>
        <input asp-for="SupraorbitalRidges" value="@Model.SupraorbitalRidges" />
        <br />

        <label asp-for="OrbitEdge">OrbitEdge</label>
        <input asp-for="OrbitEdge" value="@Model.OrbitEdge" />
        <br />

        <label asp-for="ParietalBossing">ParietalBossing</label>
        <input asp-for="ParietalBossing" value="@Model.ParietalBossing" />
        <br />

        <label asp-for="Gonian">Gonian</label>
        <input asp-for="Gonian" value="@Model.Gonian" />
        <br />

        <label asp-for="NuchalCrest">NuchalCrest</label>
        <input asp-for="NuchalCrest" value="@Model.NuchalCrest" />
        <br />

        <label asp-for="ZygomaticCrest">ZygomaticCrest</label>
        <input asp-for="ZygomaticCrest" value="@Model.ZygomaticCrest" />
        <br />

        <label asp-for="CranialSuture">CranialSuture</label>
        <input asp-for="CranialSuture" value="@Model.CranialSuture" />
        <br />

        <label asp-for="MaximumCranialLength">MaximumCranialLength</label>
        <input asp-for="MaximumCranialLength" value="@Model.MaximumCranialLength" />
        <br />

        <label asp-for="MaximumCranialBreadth">MaximumCranialBreadth</label>
        <input asp-for="MaximumCranialBreadth" value="@Model.MaximumCranialBreadth" />
        <br />

        <label asp-for="BasionBregmaHeight">BasionBregmaHeight</label>
        <input asp-for="BasionBregmaHeight" value="@Model.BasionBregmaHeight" />
        <br />

        <label asp-for="BasionNasion">BasionNasion</label>
        <input asp-for="BasionNasion" value="@Model.BasionNasion" />
        <br />

        <label asp-for="BasionProsthionLength">BasionProsthionLength</label>
        <input asp-for="BasionProsthionLength" value="@Model.BasionProsthionLength" />
        <br />

        <label asp-for="BizygomaticDiameter">BizygomaticDiameter</label>
        <input asp-for="BizygomaticDiameter" value="@Model.BizygomaticDiameter" />
        <br />

        <label asp-for="NasionProsthion">NasionProsthion</label>
        <input asp-for="NasionProsthion" value="@Model.NasionProsthion" />
        <br />

        <label asp-for="MaximumNasalBreadth">MaximumNasalBreadth</label>
        <input asp-for="MaximumNasalBreadth" value="@Model.MaximumNasalBreadth" />
        <br />

        <label asp-for="InterorbitalBreadth">InterorbitalBreadth</label>
        <input asp-for="InterorbitalBreadth" value="@Model.InterorbitalBreadth" />
        <br />

        <label asp-for="ArtifactsDescription">ArtifactsDescription</label>
        <input asp-for="ArtifactsDescription" value="@Model.ArtifactsDescription" />
        <br />

        <label asp-for="HairColor">HairColor</label>
        <input asp-for="HairColor" value="@Model.HairColor" />
        <br />

        <label asp-for="PreservationIndex">PreservationIndex</label>
        <input asp-for="PreservationIndex" value="@Model.PreservationIndex" />
        <br />

        <label asp-for="HairTaken">HairTaken</label>
        <input asp-for="HairTaken" value="@Model.HairTaken" />
        <br />

        <label asp-for="SoftTissueTaken">SoftTissueTaken</label>
        <input asp-for="SoftTissueTaken" value="@Model.SoftTissueTaken" />
        <br />

        <label asp-for="BoneTaken">BoneTaken</label>
        <input asp-for="BoneTaken" value="@Model.BoneTaken" />
        <br />

        <label asp-for="ToothTaken">ToothTaken</label>
        <input asp-for="ToothTaken" value="@Model.ToothTaken" />
        <br />

        <label asp-for="TextileTaken">TextileTaken</label>
        <input asp-for="TextileTaken" value="@Model.TextileTaken" />
        <br />

        <label asp-for="DescriptionOfTaken">DescriptionOfTaken</label>
        <input asp-for="DescriptionOfTaken" value="@Model.DescriptionOfTaken" />
        <br />

        <label asp-for="ArtifactFound">ArtifactFound</label>
        <input asp-for="ArtifactFound" value="@Model.ArtifactFound" />
        <br />

        <label asp-for="AgeMethod">AgeMethod</label>
        <input asp-for="AgeMethod" value="@Model.AgeMethod" />
        <br />

        <label asp-for="EstimateAge">EstimateAge</label>
        <input asp-for="EstimateAge" value="@Model.EstimateAge" />
        <br />

        <label asp-for="AgeClassification">AgeClassification</label>
        <input asp-for="AgeClassification" value="@Model.AgeClassification" />
        <br />

        <label asp-for="EstimateLivingStature">EstimateLivingStature</label>
        <input asp-for="EstimateLivingStature" value="@Model.EstimateLivingStature" />
        <br />

        <label asp-for="ToothAttrition">ToothAttrition</label>
        <input asp-for="ToothAttrition" value="@Model.ToothAttrition" />
        <br />

        <label asp-for="ToothEruption">ToothEruption</label>
        <input asp-for="ToothEruption" value="@Model.ToothEruption" />
        <br />

        <label asp-for="PathologyAnomalies">PathologyAnomalies</label>
        <input asp-for="PathologyAnomalies" value="@Model.PathologyAnomalies" />
        <br />

        <label asp-for="EpiphysealUnion">EpiphysealUnion</label>
        <input asp-for="EpiphysealUnion" value="@Model.EpiphysealUnion" />
        <br />

        <label asp-for="YearFound">YearFound</label>
        <input asp-for="YearFound" value="@Model.YearFound" />
        <br />

        <label asp-for="MonthFound">MonthFound</label>
        <input asp-for="MonthFound" value="@Model.MonthFound" />
        <br />

        <label asp-for="DayFound">DayFound</label>
        <input asp-for="DayFound" value="@Model.DayFound" />
        <br />

        <label asp-for="HeadDirection">HeadDirection</label>
        <input asp-for="HeadDirection" value="@Model.HeadDirection" />
        <br />

        <label asp-for="Rack">Rack</label>
        <input asp-for="Rack" value="@Model.Rack" />
        <br />

        <label asp-for="CribraOrbitala">CribraOrbitala</label>
        <input asp-for="CribraOrbitala" value="@Model.CribraOrbitala" />
        <br />

        <label asp-for="PoroticHyperostosis">PoroticHyperostosis</label>
        <input asp-for="PoroticHyperostosis" value="@Model.PoroticHyperostosis" />
        <br />

        <label asp-for="PoroticHyperostosisLocations">PoroticHyperostosisLocations</label>
        <input asp-for="PoroticHyperostosisLocations" value="@Model.PoroticHyperostosisLocations" />
        <br />

        <label asp-for="MetopicSuture">MetopicSuture</label>
        <input asp-for="MetopicSuture" value="@Model.MetopicSuture" />
        <br />

        <label asp-for="ButtonOsteoma">ButtonOsteoma</label>
        <input asp-for="ButtonOsteoma" value="@Model.ButtonOsteoma" />
        <br />

        <label asp-for="PostcraniaTrauma">PostcraniaTrauma</label>
        <input asp-for="PostcraniaTrauma" value="@Model.PostcraniaTrauma" />
        <br />

        <label asp-for="OsteologyUnknownComment">OsteologyUnknownComment</label>
        <input asp-for="OsteologyUnknownComment" value="@Model.OsteologyUnknownComment" />
        <br />

        <label asp-for="TemporalMandibularJointOsteoarthritisTmjOa">TemporalMandibularJointOsteoarthritisTmjOa</label>
        <input asp-for="TemporalMandibularJointOsteoarthritisTmjOa" value="@Model.TemporalMandibularJointOsteoarthritisTmjOa" />
        <br />

        <label asp-for="LinearHypoplasiaEnamel">LinearHypoplasiaEnamel</label>
        <input asp-for="LinearHypoplasiaEnamel" value="@Model.LinearHypoplasiaEnamel" />
        <br />

        <label asp-for="AreaHillBurials">AreaHillBurials</label>
        <input asp-for="AreaHillBurials" value="@Model.AreaHillBurials" />
        <br />

        <label asp-for="Tomb">Tomb</label>
        <input asp-for="Tomb" value="@Model.Tomb" />
        <br />

        <label asp-for="YearOnSkull">YearOnSkull</label>
        <input asp-for="YearOnSkull" value="@Model.YearOnSkull" />
        <br />

        <label asp-for="MonthOnSkull">MonthOnSkull</label>
        <input asp-for="MonthOnSkull" value="@Model.MonthOnSkull" />
        <br />

        <label asp-for="DateOnSkull">DateOnSkull</label>
        <input asp-for="DateOnSkull" value="@Model.DateOnSkull" />
        <br />

        <label asp-for="Cluster">Cluster</label>
        <input asp-for="Cluster" value="@Model.Cluster" />
        <br />

        <label asp-for="Notes">Notes</label>
        <input asp-for="Notes" value="@Model.Notes" />
        <br />

        <label asp-for="Shaft">Shaft</label>
        <input asp-for="Shaft" value="@Model.Shaft" />
        <br />

        <label asp-for="SharedShaft">SharedShaft</label>
        <input asp-for="SharedShaft" value="@Model.SharedShaft" />
        <br />

        <label asp-for="PreservationIndex2">PreservationIndex2</label>
        <input asp-for="PreservationIndex2" value="@Model.PreservationIndex2" />
        <br />

        <label asp-for="BurialMaterials">BurialMaterials</label>
        <input asp-for="BurialMaterials" value="@Model.BurialMaterials" />
        <br />

        <label asp-for="BurialGoods">BurialGoods</label>
        <input asp-for="BurialGoods" value="@Model.BurialGoods" />
        <br />

        <label asp-for="Photo">Photo</label>
        <input asp-for="Photo" value="@Model.Photo" />
        <br />

        <button class="btn btn-primary" type="submit">Confirm</button>

    </form>

    <!--Show any errors here-->
    <div asp-validation-summary="All"></div>
</div>