@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model INTEX2Mock.Models.MainTable

<h1>Details</h1>
@* This holds all of the details for each mummy. The names of each data attribute is displayed with each information that has been entered regarding 
    that particular excavation. *@
<div>
    <h4>Mummy Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Primary Key
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrimaryKeyId)
        </dd>
        <dt class="col-sm-2">
            Burial ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialId)
        </dd>
        <dt class="col-sm-2">
            C14 ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.C14Id)
        </dd>
        <dt class="col-sm-2">
            Sample ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SampleId)
        </dd>
        <dt class="col-sm-2">
            Burial Location N/S
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialLocationNs)
        </dd>
        <dt class="col-sm-2">
           Burial Location E/W 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialLocationEw)
        </dd>
        <dt class="col-sm-2">
            Low Pair N/S
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LowPairNs)
        </dd>
        <dt class="col-sm-2">
            High Pair N/S
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HighPairNs)
        </dd>
        <dt class="col-sm-2">
            Low Pair E/W
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LowPairEw)
        </dd>
        <dt class="col-sm-2">
            High Pair E/W
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HighPairEw)
        </dd>
        <dt class="col-sm-2">
            Burial Subplot
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialSubplot)
        </dd>
        <dt class="col-sm-2">
            Burial Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialNumber)
        </dd>
        <dt class="col-sm-2">
            Burial Depth
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialDepth)
        </dd>
        <dt class="col-sm-2">
            Field Book
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FieldBook)
        </dd>
        <dt class="col-sm-2">
            Field Book Page Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FieldBookPageNum)
        </dd>
        <dt class="col-sm-2">
            Initial Of Excavator
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InitialOfDataExpert)
        </dd>
        <dt class="col-sm-2">
            Initial of Data Checker
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InitialsChecker)
        </dd>
        <dt class="col-sm-2">
            Mummy Analyze Year
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BodyAnalyzeYear)
        </dd>
        <dt class="col-sm-2">
            South to Head
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SouthToHead)
        </dd>
        <dt class="col-sm-2">
            South to Feet
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SouthToFeet)
        </dd>
        <dt class="col-sm-2">
            East to Head
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EastToHead)
        </dd>
        <dt class="col-sm-2">
            East to Feet
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EastToFeet)
        </dd>
        <dt class="col-sm-2">
            West to Head
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WestToHead)
        </dd>
        <dt class="col-sm-2">
            West to Feet
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WestToFeet)
        </dd>
        <dt class="col-sm-2">
            Burial Situation
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialSituation)
        </dd>
        <dt class="col-sm-2">
            Length of Remains
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LengthOfRemains)
        </dd>
        <dt class="col-sm-2">
            Sample Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SampleNumber)
        </dd>
        <dt class="col-sm-2">
            GE Function Total
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GeFunctionTotal)
        </dd>
        <dt class="col-sm-2">
            Gender Body 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GenderBodyCol)
        </dd>
        <dt class="col-sm-2">
            Gender Determination
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HowGenderDetermined)
        </dd>
        <dt class="col-sm-2">
            Basilar Structure
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BasilarSuture)
        </dd>
        <dt class="col-sm-2">
            Ventral Arc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VentralArc)
        </dd>
        <dt class="col-sm-2">
            Sybpubic Angle
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubpubicAngle)
        </dd>

        <dt class="col-sm-2">
            Sciatic Notch
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SciaticNotch)
        </dd>

        <dt class="col-sm-2">
            Pubic Bone
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PubicBone)
        </dd>
        <dt class="col-sm-2">
            Preaur Sulcus
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PreaurSulcus)
        </dd>
        <dt class="col-sm-2">
            Medial Ip Ramus
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedialIpRamus)
        </dd>

        <dt class="col-sm-2">
            Dorsal Pitting
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DorsalPitting)
        </dd>
        <dt class="col-sm-2">
            Foreman Magnum
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForemanMagnum)
        </dd>
        <dt class="col-sm-2">
            Femur Head
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FemurHead)
        </dd>
        <dt class="col-sm-2">
            Humerus Head
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HumerusHead)
        </dd>
        <dt class="col-sm-2">
            Osteophytosis
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osteophytosis)
        </dd>
        <dt class="col-sm-2">
            Pubic Symphysis
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PubicSymphysis)
        </dd>
        <dt class="col-sm-2">
            Bone Length
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BoneLength)
        </dd>
        <dt class="col-sm-2">
            Medial Clavicle
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedialClavicle)
        </dd>
        <dt class="col-sm-2">
            Iliac Crest
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IliacCrest)
        </dd>
        <dt class="col-sm-2">
            Femur Diameter
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FemurDiameter)
        </dd>
        <dt class="col-sm-2">
            Humerus
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Humerus)
        </dd>
        <dt class="col-sm-2">
            Femur Length
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FemurLength)
        </dd>
        <dt class="col-sm-2">
            Humerus Length
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.HumerusLength)
        </dd>
        <dt class="col-sm-2">
            Tibia Length
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TibiaLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Robust)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Robust)
        </dd>
        <dt class="col-sm-2">
            Supraorbital Ridges
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupraorbitalRidges)
        </dd>
        <dt class="col-sm-2">
            Orbit Edge
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrbitEdge)
        </dd>
        <dt class="col-sm-2">
            Parietal Bossing
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParietalBossing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gonian)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gonian)
        </dd>
        <dt class="col-sm-2">
            Nuchal Crest
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NuchalCrest)
        </dd>
        <dt class="col-sm-2">
            Zygomatic Crest
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZygomaticCrest)
        </dd>
        <dt class="col-sm-2">
           Cranial Structure
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CranialSuture)
        </dd>
        <dt class="col-sm-2">
            Maximum Cranial Length
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaximumCranialLength)
        </dd>
        <dt class="col-sm-2">
            Maximum Cranial Breadth
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaximumCranialBreadth)
        </dd>
        <dt class="col-sm-2">
            Basion Bregma Height
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BasionBregmaHeight)
        </dd>

        <dt class="col-sm-2">
            Basion Nasion
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BasionNasion)
        </dd>
        <dt class="col-sm-2">
            Basion Prosthion Length
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BasionProsthionLength)
        </dd>
        <dt class="col-sm-2">
            Bizygomatic Diameter
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BizygomaticDiameter)
        </dd>
        <dt class="col-sm-2">
            Nasion Prosthion
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NasionProsthion)
        </dd>
        <dt class="col-sm-2">
            Maximum Nasal Breadth
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaximumNasalBreadth)
        </dd>
        <dt class="col-sm-2">
            Interorbital Breadth
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InterorbitalBreadth)
        </dd>

        <dt class="col-sm-2">
            Artifacts Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArtifactsDescription)
        </dd>
        <dt class="col-sm-2">
            Hair Color
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HairColor)
        </dd>
        <dt class="col-sm-2">
            Preservation Index
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PreservationIndex)
        </dd>
        <dt class="col-sm-2">
            Hair Taken
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HairTaken)
        </dd>
        <dt class="col-sm-2">
            Soft Tissue Taken
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoftTissueTaken)
        </dd>
        <dt class="col-sm-2">
            Bone Taken
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BoneTaken)
        </dd>
        <dt class="col-sm-2">
            Tooth Taken
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToothTaken)
        </dd>
        <dt class="col-sm-2">
           Textile Taken
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TextileTaken)
        </dd>
        <dt class="col-sm-2">
            Description of Taken
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescriptionOfTaken)
        </dd>
        <dt class="col-sm-2">
            Artifact Found
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArtifactFound)
        </dd>
        <dt class="col-sm-2">
            Age Method
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AgeMethod)
        </dd>
        <dt class="col-sm-2">
            Estimate Age
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstimateAge)
        </dd>
        <dt class="col-sm-2">
            Age Classification
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AgeClassification)
        </dd>
        <dt class="col-sm-2">
            Estimate Living Stature
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstimateLivingStature)
        </dd>
        <dt class="col-sm-2">
            Tooth Attrition
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToothAttrition)
        </dd>
        <dt class="col-sm-2">
            Tooth Eruption
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToothEruption)
        </dd>
        <dt class="col-sm-2">
            Pathology Anomalies
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PathologyAnomalies)
        </dd>
        <dt class="col-sm-2">
            Epiphyseal Union
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EpiphysealUnion)
        </dd>
        <dt class="col-sm-2">
            Year Found
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YearFound)
        </dd>
        <dt class="col-sm-2">
            Month Found
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MonthFound)
        </dd>
        <dt class="col-sm-2">
            Daty Found
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DayFound)
        </dd>
        <dt class="col-sm-2">
            Head Direction
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeadDirection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rack)
        </dd>
        <dt class="col-sm-2">
            Bribra Orbitala
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CribraOrbitala)
        </dd>
        <dt class="col-sm-2">
            Porotic Hyperostosis
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PoroticHyperostosis)
        </dd>
        <dt class="col-sm-2">
            Porotic Hyperostosis Location
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PoroticHyperostosisLocations)
        </dd>
        <dt class="col-sm-2">
            Tooth Attrition
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToothAttrition)
        </dd>
        <dt class="col-sm-2">
            Metopic Suture
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MetopicSuture)
        </dd>
        <dt class="col-sm-2">
            Button Osteoma
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ButtonOsteoma)
        </dd>
        <dt class="col-sm-2">
            Postcrania Trauma
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostcraniaTrauma)
        </dd>
        <dt class="col-sm-2">
            Osteology Unknown Comment
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OsteologyUnknownComment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TemporalMandibularJointOsteoarthritisTmjOa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TemporalMandibularJointOsteoarthritisTmjOa)
        </dd>
        <dt class="col-sm-2">
            Lineat Hypoplasia Enamel
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LinearHypoplasiaEnamel)
        </dd>
        <dt class="col-sm-2">
            Area Hill Burials
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AreaHillBurials)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tomb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tomb)
        </dd>
        <dt class="col-sm-2">
            Year on Skull
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YearOnSkull)
        </dd>
        <dt class="col-sm-2">
            Month on Skull
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MonthOnSkull)
        </dd>
        <dt class="col-sm-2">
            Date on Skull
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOnSkull)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cluster)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cluster)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
            Shaft Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shaft)
        </dd>
        <dt class="col-sm-2">
            Shared Shaft 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SharedShaft)
        </dd>
        <dt class="col-sm-2">
            Burial Materials
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialMaterials)
        </dd>
        <dt class="col-sm-2">
            Burial Goods
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurialGoods)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
 

    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="ViewMummyRecords">Back to List</a>
</div>
@* If the roles are different, they will show different aspects to let the admin delete and edit and the researcher to edit *@
<div>
    @if (User.IsInRole("Admin"))
    {
        <form method="get" asp-action="EditMummyRecord">
            <input type="hidden" asp-for="PrimaryKeyId" value="@Model.PrimaryKeyId" />
            @*<input type="hidden" asp-for="PrimaryKeyId" value="@Model.DateOnSkull" />
                <input type="hidden" asp-for="PrimaryKeyId" value="@Model.AgeClassification" />*@
            <button type="submit" class="btn btn-success" style="margin-bottom:3%">Edit</button>
        </form>

        <!--Button that allows the user to remove the movie record that has been requested-->
        <form method="post" asp-action="DeleteMummyRecord">
            @*<input type="hidden" asp-for="PrimaryKeyId" value="@Model.SampleId" />*@
            <input type="hidden" asp-for="PrimaryKeyId" value="@Model.PrimaryKeyId" />
            <button type="submit" class="btn btn-danger">Remove</button>
        </form>
    }
    else if (User.IsInRole("Researcher"))
    {
        <form method="get" asp-action="EditMummyRecord">
            <input type="hidden" asp-for="PrimaryKeyId" value="@Model.PrimaryKeyId" />
            @*<input type="hidden" asp-for="PrimaryKeyId" value="@Model.PrimaryKeyId" />
                <input type="hidden" asp-for="PrimaryKeyId" value="@Model.PrimaryKeyId" />*@
            <button type="submit" class="btn btn-success" style="margin-bottom:3%">Edit</button>
        </form>
    }
</div>
