<h1>Admin</h1>
@* lays out the roles so they can be seen. 
    From this page you can click on the edit and delete user 
    and go from there.
    Displays user information. *@
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Change Privileges</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in ViewBag.Admin)
        {
<tr>
    <td>@user.Id</td>
    <td>@user.Email</td>
    <td>
        <form asp-action="EditRole">
            <input type="hidden" value="@user.Id" name="user" />
            <input type="hidden" value="Admin" name="role" />
            <button class="btn btn-primary" type="submit">Edit User</button>
        </form>

        <form asp-action="ReviewDeleteUser">
            <input type="hidden" value="@user.Id" name="UserId" />
            <button class="btn btn-danger"type="submit">Delete User</button>
        </form>
    </td>
</tr>}
    </tbody>
</table>
<h1>Researchers</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Change Privileges</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in ViewBag.Researcher)
        {
<tr>
    <td>@user.Id</td>
    <td>@user.Email</td>
    <td>
        <form asp-action="EditRole">
            <input type="hidden" value="@user.Id" name="user" />
            <input type="hidden" value="Researcher" name="role" />
            <button class="btn btn-primary" type="submit">Edit User</button>
        </form>

        <form asp-action="ReviewDeleteUser">
            <input type="hidden" value="@user.Id" name="UserId" />
            <button type="submit">Delete User</button>
        </form>
    </td>
</tr>}
    </tbody>
</table>



<h1>Unassigned Users</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Change Privileges</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in ViewBag.Unassigned)
        {
<tr>
    <td>@user.Id</td>
    <td>@user.Email</td>
    <td>
        <form asp-action="EditRole">
            <input type="hidden" value="@user.Id" name="user" />
            <input type="hidden" value="Unassigned" name="role" />
            <button class="btn btn-primary" type="submit">Edit User</button>
        </form>

        <form asp-action="ReviewDeleteUser">
            <input type="hidden" value="@user.Id" name="UserId" />
            <button class="btn btn-danger" type="submit">Delete User</button>
        </form>
    </td>
</tr>}
    </tbody>
</table>